
extends ../layout/commom.pug

block content
	h1 Create users	

	form(action="/user/create", method="POST")
		label Name
		input(name="name" type="text")
		label Phone
		input(name="phone" type="text")

		button Create	